article {
  padding: 2em;

  > div {
    margin: auto;

    @media screen and (min-width: 600px) {
      width: 600px;
    }

    @media screen and (min-width: 800px) {
      width: 800px;
    }

    @media screen and (min-width: 1000px) {
      width: 1000px;
    }
  }
}